<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Waiter Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="waiterInfo.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="waiterInfo.password"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="login()">Login</ion-button>

  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>

  <div class="ion-text-center ion-margin-top">
    <p>
      Don’t have an account? 
      <ion-button fill="clear" (click)="goToRegister()">Register</ion-button>
    </p>
  </div>
</ion-content>
