<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">🍽️ Waiter Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <form (ngSubmit)="onRegister()">
      
      <ion-item lines="full">
        <ion-label position="floating">👤 Username</ion-label>
        <ion-input [(ngModel)]="waiterInfo.username" name="username" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">🔑 Password</ion-label>
        <ion-input [(ngModel)]="waiterInfo.password" name="password" type="password" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">🏢 Restaurant ID</ion-label>
        <ion-input [(ngModel)]="waiterInfo.restaurantId" name="restaurantId" required></ion-input>
      </ion-item>

      <ion-button expand="block" color="success" type="submit" class="ion-margin-top">
         Register
      </ion-button>
    </form>

    <p class="message" *ngIf="message">{{ message }}</p>
  </div>
</ion-content>
