<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let notif of notifications">
      <ion-label>
        <h2>{{ notif.title }}</h2>
        <p>{{ notif.body }}</p>
        <small>{{ notif.createdAt?.toDate() | date:'short' }}</small>
      </ion-label>
    </ion-item>
  </ion-list>


  <ng-template #empty>
    <ion-text color="medium">
      <p class="ion-text-center">No new requests 🎉</p>
    </ion-text>
  </ng-template>
</ion-content>